#canvas {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
html {
  height: 100%;
}
.App {
  height: 100%;
}
.firebase-emulator-warning {
  width: 50% !important;
}
