.fusen {
  background: #ffc;
  opacity: 0.8;
  width: 140px;
  height: 100px;
  color: #000;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  border: #aaa 1px solid;
  position: absolute;
}
.fusen div {
  width: 140px;
}

#hidden-fusen {
  visibility: hidden;
  position: absolute;
  top: 0;
}

#canvas {
  position: relative;
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
html {
  height: 100%;
}
.App {
  height: 100%;
}
#center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background-color: blue;
  overflow: visible;
  transform: scale(1) translate(0px, 0px);
}
